In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import numpy as np
import scipy.stats as st
df = pd.read_csv('population2020.csv')
df.head()

           Subzone PopMale PopFemale  PopTotal
0        Admiralty    6860      7060     13920
1     Airport Road       -         -         0
2   Alexandra Hill    6630      6860     13490
3  Alexandra North    1230      1400      2630
4         Aljunied   19740     20250     39990

In [3]:
df['PopTotal'].quantile()

4290.0

In [5]:
df.describe()

            PopTotal
count     332.000000
mean    12178.042169
std     17783.387613
min         0.000000
25%         0.000000
50%      4290.000000
75%     17025.000000
max    130970.000000

In [ ]:
df.to_csv('Population2020.csv')
df